{% extends "layout.html" %}
{% block content %}
        <div class="heading">
            <h1>Question list</h1>
            <h2>This is the place for showing questions</h2>
            <h3>EAT</h3>
            <h4>SHIT</h4>
            <h5>CODE</h5>
            <h6>REPEAT</h6>
        </div>
        <div class="question-list">
            <table>
                <tr>
                    <th>First heading</th>
                    <th>Second heading</th>
                    <th>Third heading</th>
                    <th>Fourth heading</th>
                </tr>
                <tr>
                    <td>First content</td>
                    <td>Second content</td>
                    <td>Third content</td>
                    <td>Fourth content</td>
                </tr>
            </table>
        </div>
{% endblock %}
