{% extends "layout.html" %}
{% block content %}
        <div class="container">
            <a href="/ask-question">Ask a question</a>
        </div>
        <div class="question-list">
            <table>
                <tr>
                    <th>data</th>
                    <th>viewed</th>
                    <th>votes</th>
                    <th>title</th>
                    <th>message</th>
                    <th>image</th>
                </tr>
                {% for questions in all_questions %}
                <tr>
                    <td>{{questions[1]}}</td>
                    <td>{{questions[2]}}</td>
                    <td>{{questions[3]}}</td>
                    <td><a href="{{ url_for('route_question',id=questions[0])}}">{{questions[4]}}</a></td>
                    <td>{{questions[5]}}</td>
                    <td>{{questions[6]}}</td>
                
                </tr>
                {%endfor%}

            </table>
        </div>


{% endblock %}
