{% extends "layout.html" %}
{% block content %}
    <div class="question-list">
        <form action="/new-answer" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="id" value={{id}}>
        <p>
            <label for="new-answer">Answer:</label><br/>
            <textarea id="new-answer" name="new-answer" rows="4" cols="50"></textarea>
        </p>
        <p>
            <label for="image">Image (only jpg files allowed):</label><br/>
            <input id="file" name="file" type = "file" />
        </p>
        <button type="submit">Add your answer</button>

    </div>
{% endblock %}