{% extends "layout.html" %}
{% block content %}
<div class="question-list">
    <a href="/">&larr; Back to questions list</a><br /><br />
    <b>{{question[4]}}</b><br /><br />
    {{question[5]}}<br /><br />
    {% if question[6] != "" %}
        <div class="container">
            <img src={{question[6]}} style="max-width: 150px"/>
        </div>
    {% endif %}
    <a href="{{ url_for('route_answer',id=question[0])}}">Add new answer</a><br/><br/>
    Add or remove vote for this question
    <div class="buttons">
    <form method="post" action="{{ url_for('route_vote_add',id=question[0])}}">
    <button type="submit" style="width:40px; height:40px;">+</button></form>
    <form method="post" action="{{ url_for('route_vote_substract',id=question[0])}}">
    <button type="submit" style="width:40px; height:40px;">-</button></form>
    </div>
    Number of votes already for this question: {{question[3]}}<br/><br/>
    <a href="{{ url_for('delete_question',id=question[0])}}">DELETE CURRENT QUESTION</a><br/><br/>
</div>
{% if answers|length > 0 %}
<div class="question-list">
    <br />
    <b>ANSWERS:</b><br />
    ---------------------------------------------<br />
    {% for answer in answers %}
        <p class="answer">
            {{answer[4]}}
            <form method="post" action="{{ url_for('route_answer_vote', answer_id=answer[0])}}">
            <br/><button type="submit">Vote for this answer</button>
            <input type="hidden" name="id" value={{question[0]}}></form>
            <br/><b>Number of votes already for this answer: {{answer[2]}}</b><br/>
            {% if answer[5] != "" %}
                <br/>
                <img src={{answer[5]}} style="max-width: 150px"/>
            {% endif %}
            <br />
            <a href="{{ url_for('delete_answer',id=answer[0],ids=question[0])}}">DELETE ANSWER</a>
        </p>
    {% endfor %}
</div>
{% endif %}
{% endblock %}