{% extends "layout.html" %}
{% block content %}
<div class="question-list">
    <a href="/">&larr; Back to questions list</a><br /><br />
    <b>{{question[4]}}</b><br /><br />
    {{question[5]}}<br /><br />
    {% if question[6] != "" %}
        <div class="container">
            <img src={{question[6]}} style="max-width: 150px"/>
        </div>
    {% endif %}
    <a href="{{ url_for('route_answer',id=question[0])}}">Add new answer</a><br /><br />
    <form method="post" action="{{ url_for('route_vote',id=question[0])}}">
    <button type="submit">Vote for this question</button></form>
    <b>Number of votes already for this question: {{question[3]}}</b><br/>
    <a href="{{ url_for('delete_question',id=question[0])}}">DELETE CURRENT QUESTION</a><br /><br />
</div>
{% if answers|length > 0 %}
<div class="question-list">
    <br />
    <b>ANSWERS:</b><br />
    ---------------------------------------------<br />
    {% for answer in answers %}
        <p class="answer">
            {{answer[4]}}
            {% if answer[5] != "" %}
                <br/>
                <img src={{answer[5]}} style="max-width: 150px"/>
            {% endif %}
            <br />
            <a href="{{ url_for('delete_answer',id=answer[0],ids=question[0])}}">DELETE ANSWER</a>
        </p>
    {% endfor %}
</div>
{% endif %}
{% endblock %}